body {
  font-family: EB Garamond, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  /* Add this property to set the background color to grey */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

.navbar-brand {
  font-size: xx-large;
  color: black;

}

.navbar-Search {
  flex: 0.5;
  margin-left: 1rem;
  position: relative;
}

.navbar-Search input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  /* Increased border-radius value */
  border: none;
  background-color: rgb(235, 235, 235);
  font-size: 1rem;
  color: black;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: #000000;
  margin-left: 1rem;
  text-decoration: none;
  font-size: large;
}

.navbar-item:hover {
  color: #434343;
}

.carousel-container {
  height: 50%;
  width: 50%;
  margin: auto;
}